/* Bordered form */
form {
  border: 5px solid #f1f1f1;
  margin-left: 15%;
  background-color: rgb(0,0,0,0.3);
  width: 70%;

}

/* Full-width inputs */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}              

body{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/vote.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;

}


/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 12px 0 12px 0;
}

/* Avatar image */
img.voting {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin: 5px;
  color: #FFFFFF;
}


#errormsg{
  color: #FF0000;
  font-size: 12px;
}


