
body{
    display:flex;
    width: 100%;
    background-color: #dde0cf;
    font-family: 'Playfair Display SC', serif;
}

.candidates{
  display: none;
  margin-left: 5%;
  margin-top: 5%;
  white-space: nowrap;
}


.cands{
	display: inline-block;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    
}



.nocand{
	display:inline-block;
    margin-left: 5%;
    width: 50%;
}

.name{
  color: black;
  margin-left: 2%;
}

.desc{
   color: black;
	margin-left: 4%;
	display: inline;

}


h4{
	font-family: 'Courgette', cursive;
	color: #708090;
	margin-left: 10%;
	margin-top: 2%;
	display: inline;
}

.votbutton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  position: absolute;
  margin-top: 10px ;
  right: 20%;
  top: 11%; 
  margin-bottom: 15px;
  border: none;
  cursor: pointer;

}    

.cand1{
  position:absolute;
  width: 1100px;
  height: auto;
  box-sizing: border-box;
  background: #f1f1f1;
  margin: 5px auto;
  top: 17%;
  border: 1px solid #c0c5ce;
}

.text{
  display:none;
}


.addcand {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  position: absolute;
  left: 15%;
  margin-top: 70px;
  border: none;
  cursor: pointer;
  width: 30%;
  display: none;

}    

.verify{
   display:inline-block;
    margin-left: 5%;
    position: absolute;
    top: 10%;
    width: 50%; 
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #2f4f4f;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: white;
}

input[type=number], input[type=number], input[type=number],input[type=number] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=number]:focus, input[type=number], input[type=number],input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.candid{
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin-left: 2%;
   margin-top: 2%;
   margin-bottom: 2%;
   border: none;
   cursor: pointer;
   width: 30%;

}

.getepsilon{
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin-left: 10%;
   margin-top: 2%;
   margin-bottom: 2%;
   border: none;
   cursor: pointer;
   width: 30%;

}
